<div class="container">
  <h1>Write it down:</h1>

  <form action="/new" method="post">
    <input class="text-box" type="text" placeholder="  if you don't want to forget..." name="content">
    <input class="create-button" type="submit" value="Make Note!">
  </form>
</div>

<div class="container">
  <h1>Your Notes to Self:</h1>
  <% if @only_display %>
    <%= erb :show, layout: false %>
  <% else %>
    <%= erb :edit, layout: false %>
  <% end %>
</div>
