<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <p>Motivation is what gets you started. Habit is what keeps you going. – Jim Rohn</p>
  </nav>
  <%= yield %>

  <footer>
    <p>Your mind is for having ideas, not holding them. – David Allen</p>
  </footer>
</body>
</html>
